@model IEnumerable<EventManagingSystem.Entities.Message>

@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@Html.Partial("/Views/Partial/Information.cshtml")
@Html.ActionLink("Outbox", "Outbox", "Message", new { @class = "btn btn-primary" })
@Html.ActionLink("Send Message","PersonList","Person",null,new {@class="btn btn-primary "})
<table class="table">
    <thead>
        <tr>
            <th scope="col">Message From</th>
            <th scope="col">Title</th>
            <th scope="col">Message Date</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@item.Person.UserName</td>
                <th>@Html.ActionLink(@item.MessageTitle, "MessageDetail", "Message", new { @id = item.MessageFrom }, null)</th>
                <td>@item.MessageDate</td>
            </tr>
        }
    </tbody>
</table>