@model IEnumerable<EventManagingSystem.Entities.Message>

@{
    ViewBag.Title = "Outbox";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Outbox</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MessageDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageBody)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MessageDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageBody)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
