@model IEnumerable<EventManagingSystem.Entities.Message>

@{
    ViewBag.Title = "Outbox";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@Html.Partial("/Views/Partial/Information.cshtml")
@Html.ActionLink("Inbox", "Inbox", "Message", new { @class = "btn btn-primary" })
<button class="btn btn-primary">Send Message</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Message To</th>
            <th scope="col">Title</th>
            <th scope="col">Message Date</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@item.Person1.UserName</td>
                <th>@Html.ActionLink(@item.MessageTitle, "MessageDetail", "Message", new { @id = item.MessageTo }, null)</th>
                <td>@item.MessageDate</td>
            </tr>
        }
    </tbody>
</table>