@using EventManagingSystem.Entities;
@using EventManagingSystem.BLL
@{
    EventManager eventManager = new EventManager();
    List<Event> Events = eventManager.GetEvents();
}
<section class="pb100">
    <div class="container">
        <div class="table-responsive">
            <table class="event_calender table">
                <thead class="event_title">
                    <tr>
                        <th>
                            <i class="ion-ios-calendar-outline"></i>
                            <span>next events calendar</span>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Events)
                    {
                        <tr>
                            <td>
                                <img src="@item.EventImage" alt="event">
                            </td>
                            <td class="event_date">
                                @item.EventName
                                <span>@item.Category.CategoryName</span>
                            </td>
                            <td>
                                <div class="event_place">
                                    <h5>@item.Country-@item.City-@item.Location</h5>
                                    <h6>@item.ApplicationDate</h6>
                                    <p>who created: @item.Person.UserName</p>
                                </div>
                            </td>
                            <td>
                                <a href="/Event/ListDetails/@item.EventID" class="btn btn-primary btn-rounded">Read More</a>
                            </td>                      
                            <td class="buy_link">
                                @Html.ActionLink("Join","JoinEvent","Join",item.EventID,null)                          
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
</section>
